In [ ]:
print("Hello WOrld")

Hello WOrld

In [ ]:
a=100 #  the following code snippets shows the memory management

print(id(a))

10754024

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
a=500
print(id(a))

134973056271216

In [ ]:
b=a
print(id(b))

134973056271216

In [ ]:
a=10
b=20
c=30
print(a,b,c)

10 20 30

In [ ]:
a,b,c = 10,20,30  # variable assignment
print(a,b,c)

10 20 30

In [ ]:
a=10
b=10
c=10
print(a,b,c)

10 10 10

In [ ]:
a=b=c=10 # varaibale assignment
print(a,b,c)

10 10 10

In [ ]:
import keyword as kw

print(keyword.kwlist)  # it list all the keywords in python
print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
False=10 # keywords cannot be used as a variable name
print(False)

SyntaxError: cannot assign to False (<ipython-input-25-a9b307c5edad>, line 1)

In [ ]:
# multiline comment

""" dkjasdkfaksdjfasdf
asdfasdfasdf
asdfasdfasdfasd
asdfasdfasdfasdf """

print("HI")

HI

In [ ]:
# python String
a= 'Ntt'
print(a)
b ="Data"
print(a,b)

Ntt
Ntt Data

In [ ]:
# multi line string

st = """asdfasdfqwf
sdfasdfasdf
asdfasdfasdf
asdfasdfasdf"""

print(st)

asdfasdfqwf
sdfasdfasdf
asdfasdfasdf
asdfasdfasdf

In [ ]:
# Day3
# creating a simple list

l = [10,20.3,"NTT",3+4j]
print(l)
print(type(l))

[10, 20.3, 'NTT', (3+4j)]
<class 'list'>

In [ ]:
# type fn returns the datatype class
a = 3+4j
print(type(a))

<class 'complex'>

In [ ]:
#isinstance

a= 10.0
print(isinstance(a,int))

False

In [ ]:
# variable annotations
name: str = "NTT"
print(name)
print(type(name))

print(__annotations__['name'])

10
<class 'int'>
<class 'str'>

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>
<class 'int'>

In [ ]:
aa=10.22
print(aa)
print(type(aa))

print(__annotations__['aa'])

10.22
<class 'float'>

KeyError: 'aa'

In [ ]:
aaa=10
print(aaa)
print(type(aaa))

print(__annotations__['aaa'])

10
<class 'int'>
<class 'int'>

In [ ]:
aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
s = "Bangalore"

print(s[-9:7:1])

Bangalo

In [ ]:
s= "hello, world!"
print(s[-5:2:-2])

o o

In [ ]:
s= "python is fun"

print(s[0:5][::-1])

ohtyp

In [ ]:
# simple  If startement

if 10>15:

  print("start of if")
  print("10 is greater")
  print("end of if")
  print("HI")


print("end of program")

end of program

In [ ]:
# input function

a = input("Enter a value") # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value20.33333
20.33333
<class 'float'>

In [ ]:
# input function with type casting

a = int(input("Enter a value")) # input fn reatuns all the values in string format
print(a)
print(type(a))

Enter a value20
20
<class 'int'>

In [ ]:
# if else statement

a = int(input("Enter a value"))
b = int(input("Enter b value"))

if a>b:
  print("a is greater")
  print("if block")
else:
  print("b is greater")
  print("else block")

Enter a value5
Enter b value20
b is greater
else block

In [ ]:
# if else ladder

s = input("enetr a color")

if s == "red":
  print("stop")
elif s == "yellow":
  print("ready")
elif s == "green":
  print("go")
else:
  print("invalid color")

enetr a colorpink
invalid color

In [ ]:
text = input("enter a string")  # program to check the palindrome
text = text.lower()

revtext = text[::-1]

if text == revtext:
  print("Palindrome")
else:
  print("Not Palindrome")

enter a stringMalayalam
Palindrome

In [ ]:
# while loop

i=10

while i<15 :
  print(i)
  i=i+1

print("end of while")

10
11
12
13
14
end of while

In [ ]:
# Multiplication Table

num = int(input("Enter a number"))

i=1

while i<=10:
  print(num , "*" , i , "=" ,i*num)
  i=i+1

Enter a number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# For loop

s = "2025John"

for i in s:
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
J
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [ ]:
# range function

for i in range(0,11,3):
  print(i)

0
3
6
9

In [ ]:
s1 = "NTT"
s2 = "DATA"
s3 = s1+s2
print(s3)
s4 = s2*4
print(s4)

s2[0]="d"

NTTDATA
DATADATADATADATA

TypeError: 'str' object does not support item assignment

In [ ]:
# String deletion
s1 = "Ntt"
print(s1)
del s1
print(s1)

Ntt

NameError: name 's1' is not defined

In [ ]:
#  length of the string

s = input("enter a string")
c=0
for i in s:
  c= c+1
print("length =", c)

#use len function

print(len(s))

enter a stringNTT
length = 3
3

In [ ]:
# memebership operator

if "b" not in "apple":
  print("yes")
else:
  print("no")

yes

In [ ]:
# count method

main_string = input("enter a string")
sub_string = input("enetr a sub string")

c = main_string.count(sub_string,0,3)

print(c)

enter a stringbangalore
enetr a sub stringa
1

In [ ]:
# startswith method

mobno = input(" enter you mob no with country code")

if mobno.startswith("+91"):
  print("india")
elif mobno.startswith("+1"):
  print("USA")

 enter you mob no with country code+9188899933
india

In [ ]:
# endswith
url = input("enter a URL")
if url.endswith('.edu'):
  print("educational website")
elif url.endswith('.com'):
  print("commercial website")

enter a URLwww.amazon.com
commercial website

In [ ]:
#lstrip method
name = input("enter your name")
print(name)
name = name.lstrip()
print(name)

enter your name     Balan
     Balan
Balan

In [ ]:
url = ["httphttphttphhpp","http://www.ajio.com","http://www.cricbuzz.com"]

for i in url:
  #i = i.lstrip("http://www.")
  i = i.lstrip("tph")
  print(i)

://www.ajio.com
://www.cricbuzz.com

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com","http://www.amazon.com"]

for i in url:
  i = i.rstrip('htp.cmo')
  print(i)

http://www.myntra
http://www.aji
http://www.cricbuzz
http://www.amazon

In [ ]:
url = ["http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com","http://www.amazon.com"]

for i in url:
  i = i.strip('htp.com')
  print(i)

://www.myntra
://www.aji
://www.cricbuzz
://www.amazon

In [ ]:
print(ord('a'))
print(ord('A'))
print(ord('c'))
print(ord('D'))

97
65
99
68

In [ ]:
s1= "AAnand"
s2= "ABhijith"

if s1!=s2:
  print("s1 is greater")
else:
  print("s2 is greater")

s1 is greater

In [ ]:
# replace method

s1 = " I live in Mumbai , Mumbai is a beautiful place"

s1.replace("Mumbai","Bangalore",1)

' I live in Bangalore , Mumbai is a beautiful place'

In [ ]:
# find method

s1 = "I live in Mumbai , Mumbai is a beautiful place"

res =s1.find("Mumbai")
print(res)

10

In [ ]:
# rfind method

s1 = "I live in Mumbai , Mumbai is a beautiful place"

res =s1.rfind("Mumbai")
print(res)

19

In [ ]:
# Split method
s = " I live in mumbai "
k = w.split(' ')
w = "india,usa,australia"
k = w.split(',')
print(k)

['india', 'usa', 'australia']

In [5]:
#List

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]
print(l1)
print(type(l1))

print(l1[0], l1[-2])

[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
<class 'list'>
10 (2+3j)

In [9]:
# Slicing in list

l1 = [10,20,3.14,"NTT Data", 2+3j,[100,200,300]]

print(l1[0:4])
print(l1[0:4:2])
print(l1[::])
print(l1[: : -1])

[10, 20, 3.14, 'NTT Data']
[10, 3.14]
[10, 20, 3.14, 'NTT Data', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NTT Data', 3.14, 20, 10]

In [11]:
# concatenation of list

l1 = [10,20,34]
l2 = [50,60,70]
l3 = l1 + l2
print(l1)
print(l2)
print(l3)
print(id(l1))
print(id(l2))
print(id(l3))

[10, 20, 34]
[50, 60, 70]
[10, 20, 34, 50, 60, 70]
138766873529984
138766873531712
138766873536192

In [14]:
# multiplication of list

l1 = [10,20,30]
l2 = l1*3
print(l2)
print(l1*2)

[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 20, 30, 10, 20, 30]

In [17]:
#iteration of list

#l1 = [10,20,30,40,50]

for i in [10,20,30,40,50]:
  print(i+5)

15
25
35
45
55

In [19]:
# membership operator

print(100 in [10,20,30,40])

False

In [21]:
print(100 not in [100,20,30,40])

False

In [22]:
# deletion of a list

l1 = [10,20,30,40]

print(l1)

del l1
print(l1)

[10, 20, 30, 40]

NameError: name 'l1' is not defined

In [30]:
# inbuilt functions
# max()

l1 = [10,200,3,500,80]
print(max(l1))

l2 = ["aaa","bbbb","ccc"]
print(max(l2))

l3= [10,20,"nttdata"]
#print(max(l3)) error

l4 = ["aaa","bbbb","cccvsddqf"]
print(max(l4, key =len ))

l5= []
print(max(l5,default=10))

500
ccc
cccvsddqf
10

In [35]:
l1 = [10,20,30,40]

l1.append(50)
l1.append(60)
l1.append(70)
l1.append(5)
l1.append([1,2,3])
l1.append("NTT")
print(l1)

[10, 20, 30, 40, 50, 60, 70, 5, [1, 2, 3], 'NTT']

In [37]:
list = []
for i in range(6):
  num = int(input("enter a number"))
  list.append(num)
print(list)

enter a number10
enter a number20
enter a number0
enter a number0
enter a number50
enter a number60
[10, 20, 0, 0, 50, 60]

In [39]:
# extend method

l1 =[10,20,30]
l2= [40,50,60]

l1.extend([100,200,300,400])

print(l1)

[10, 20, 30, 100, 200, 300, 400]

In [41]:
# insert method

l1=[10,20,30,40,50,60]

l1.insert(0,1000)
l1.insert(3,2000)

print(l1)

[1000, 10, 20, 2000, 30, 40, 50, 60]

In [42]:
# remove method

l1 = [10,10,20,30,40]
l1.remove(10)
print(l1)

[10, 20, 30, 40]

In [44]:
# pop method

l1= [10,20,30,40]
res = l1.pop()
print(res)
print(l1)


res = l1.pop(2)
print(res)
print(l1)

40
[10, 20, 30]
30
[10, 20]

In [45]:
s2 = [10,20,30,40,50]
removed_element = s2.pop()
s2.pop(2)
print (removed_element)
print (s2)

50
[10, 20, 40]

In [46]:
# clear method

l1 = [10,20,30]
print(l1)
l1.clear()
print(l1)

[10, 20, 30]
[]

In [47]:
# progrm to remove duplicate elements

l1= [10,20,30,10,20,45]
ulist=[] # unique list

for i in l1:
  if i not in ulist:
    ulist.append(i)


print(l1)
print(ulist)

[10, 20, 30, 10, 20, 45]
[10, 20, 30, 45]